<div class = "booyah-box col-xs-10 col-xs-offset-1">
<h1>Edit</h1>
	<%= simple_form_for @word do |f| %>
		<%= f.input :word %>
		<%= f.input :definition %>
		<%= f.input :alternative_word %>
		<%= f.input :alternative_definition %>
		<br />
		<%= f.submit 'Update', :class => 'btn btn-primary' %>
	<% end %>
</div>