<h1>Florio</h1>

<form action="<%= root_path%>" method ='get'>
  <p>
    <input name='search', id='search' <%= params[:search] %> data-autocomplete-source='<%=autosearches_path %>?search=' />
    <%= submit_tag "Search", :name => nil %>
  </p>
</form>

<table>
  <% if @words.present? %>
    <% @words.each do |word| %>
    <tr>
      <th>Word</th>
      <td><%= word.word %></td>
      <% if word.alternative_word.present? %>
      <th>Alt Word</th>
      <td><%= word.alternative_word %></td>
      <% end %>
    </tr>
    <tr>
      <th>Definition</th>
      <td><%= word.definition %></td>
    <% if word.alternative_definition.present? && word.alternative_definition != word.definition %>
      <th>Alt Definition</th>
      <td><%= word.alternative_definition %></td>
      <% end %>
    </tr>
    <% end %>
  <% end %>
</table>

<script>
$(function () {
    $('#search').autocomplete({
       source: $('#search').data('autocomplete-source'),
       minLength: 2,
       messages: {
        noResults: '',
        results: function() {}
       }
    });
})

</script>
