<div class = 'help col-xs-12 col-md-9'>
  <br />
  Thank you for visiting this site. This site is still in its baby stages. As you search through the dictionary, you will see that there are words with gibberish characters in them. Unfortunately there are too many to correct at once.
  <br />
  <br />
    This is where you can help! 
  <br />
    If you have 5 minutes to spare, hit that edit button, look up the original<%= link_to 'http://www.pbm.com/~lindahl/florio/search/search.cgi', :target => '_blank' do %> 
    <i>Woodcut facsimile of the John Florio's Dictionary,</i>
    <% end %>
     and help us edit the entry. Thank you very much.
     <br />
     <br />
</div>
<br class ='clr' />

<div class = 'florio center-block text-center'>
  <h1><%= link_to image_tag("florio.png", :alt => "Florio's 1611 Italian-English Dictionary", width: 400, :class => 'img-responsive center-block'), root_path %></h1>
  Search for old Italian words. <br />
  <h2>Word Search</h2>
  Switch to: <%= link_to 'Text Search', text_search_path %><%= image_tag 'new.png', :id => 'new' %>
  <form action="<%= root_path %>" method ='get' class = 'form-inline'></i>

    <br />
    <div class = 'form-group'>
    <p>
      <input name='search' id='search' value ='<%= params[:search] %>' data-autocomplete-source='<%=autosearches_path %>?search=' placeholder = 'Enter search' class = 'form-control' />
      <%= submit_tag "Search", :name => nil, :class => 'btn btn-info' %>
    </p>
    </div>
  </form>
</div>

<br />

<% if @word.present? %>
  <div class = 'result col-xs-12' >
  <hr class = 'divide' />
        <div class = 'col-xs-12 col-md-6'>
              <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#editWord">
                edit
                </button>
              <h3><%= @word.word %></h3>

              <p>
                <b>Definition</b>:
              <br>
                <%= @word.definition %>
              </p>
          <% if @word.alternative_word.present? %>
              <i>also as... <b><%= @word.alternative_word %></b></i>
          <% end %>
          <% if @word.alternative_definition.present? %>
              <p>
              <b>Definition</b>:
              <br>
              <%= @word.alternative_definition %>
              </p>
          <% end %>
        </div>
        <div class ='ad col-xs-12 col-md-6'>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- florio-ad 1 -->
          <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9281207145489175"
             data-ad-slot="1106539646"
             data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
    <br class='clr' />
    <hr class = 'divide' />

  </div>
<% elsif flash.present? %>
<div class = 'result col-xs-12' >
        <div class = 'col-xs-12 col-md-6 message'>
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, class: "no_word" %>
          <% end %>
        </div>
        <div class ='ad col-xs-12 col-md-6'>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- florio-ad 1 -->
          <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9281207145489175"
             data-ad-slot="1106539646"
             data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
</div>
<% end %>  
<br class = 'clr' />
<br class = 'clr' />
<br class = 'clr' />
<% if @words.present? %>
  <div class = 'suggestion col-xs-12 col-md-offset-2 col-md-8'>
    <h4>Related results:</h4>
      <table class = 'table table-hover'>
        <thead>
        <tr>
          <th>Italian Word</th>
          <th>Definition</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <% @words.each_with_index do |word, index| %>
            <% if index == 0 || index % 3 == 0 %>
            <tr>
              <td colspan = "3">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- florio-tb-banner-2 -->
              <ins class="adsbygoogle"
                   style="display:inline-block;width:320px;height:50px"
                   data-ad-client="ca-pub-9281207145489175"
                   data-ad-slot="8350604846"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
              </td>
            </tr>
            <% end %>
            <tr>
              <td><%= link_to word.word, word_path(word) %></td>
              <td><%= word.definition %></td>
              <td>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#editWord">
                edit
                </button>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>

<% end %>
<!-- Button trigger modal -->

<% if @word.present? %>
  <!-- Modal -->
  <div class="modal fade" id="editWord" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit</h4>
        </div>
        <%= simple_form_for @word do |f| %>
        <div class="modal-body">
          Thank you for helping us to edit. You can search from this source
            <%= link_to 'http://www.pbm.com/~lindahl/florio/search/search.cgi', :target => '_blank', :id => 'florioSearch', :data_source => @word.word do %> 
              <i>Woodcut facsimile of the John Florio's Dictionary</i>
            <% end %>
            <%= f.input :word %>
            <%= f.input :definition %>
            <%= f.input :alternative_word %>
            <%= f.input :alternative_definition %>
          <br />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
          <%= f.submit 'update', :class => 'btn btn-info' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
$(function () {
  $('#search').autocomplete({
    source: $('#search').data('autocomplete-source'),
    minLength: 2,
    messages: {
    noResults: '',
    results: function() {}
    }
  });
  // $('#new').effect('shake')

  // $('#florioSearch').click(function() {
  //   $.post("http://www.pbm.com/~lindahl/florio/search/search_backend.cgi", $('florioSearch').data('data_source'));
  // })
})


</script>
